<div class="row">
  <div class="col-md-6">
    <h3>Were to find me</h3>

    <p>251 E 4800 S, Washington Terrace, UT 84405</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "(789)-456-6123" %></p>

    <h3>Email</h3>

    <p><a href="mailto:ariahgentry@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>
  
  <div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12012.535830921022!2d-111.9701346!3d41.175245350000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe753fad5694f923a!2sBonneville+High+School!5e0!3m2!1sen!2sus!4v1501169391024" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>